.mainTitle{
  font-size: 80px;  
}

.selectTitle{
    margin: 20px 0px;
}

.items{
    display: flex;
    gap: 50px;
}

.item {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    position: relative;
    transition: 0.5s;
}
.item:hover{
    transform: translateY(-2px);
    box-shadow: 2px 5px 20px #bbb;
}

.item:nth-child(1){
    background: url("/a1.jpg");
    background-position: center;
    background-size: cover;
}
.item:nth-child(2){
    background: url("/a3.jpg");
    background-position: center;
    background-size: cover;
}
.item:nth-child(3){
    background: url("/a7.jpg");
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.item:hover .title{
    color: rgb(75, 127, 188);
}

.title{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
}